<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shenny.test.dao.IEcSaleImgDao">
<resultMap type="com.shenny.test.model.EcSaleImg" id="baseResultMap">
	<id column="id" property="id" jdbcType="INTEGER"/>
	<result column="sale_id" property="saleId" jdbcType="VARCHAR"/>
	<result column="img_uri" property="imgUri" jdbcType="VARCHAR"/>
	<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
	<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
</resultMap>
	<select id="listAllImg" resultMap="baseResultMap" >
		select id,sale_id,img_uri,create_time,update_time
		from ec_sale_img
		limit 100
	</select>
	<insert id="add" parameterType="com.shenny.test.model.EcSaleImg" useGeneratedKeys="true" keyProperty="id">
	insert into ec_sale_img(sale_id,img_uri,create_time,update_time)
	values(#{saleId,jdbcType=INTEGER},#{imgUri,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP})
	</insert>
	
		<insert id="insert" parameterType="java.lang.String" >
	insert into test(str)
	values(#{str})
	</insert>
</mapper>